<!DOCTYPE html>


  <!doctype html>
  <html>
    <head>
      <% include ../partials/header.ejs %>
      <meta charset="utf-8">
      <title>Hello World</title>
    </head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.5.1/pixi.min.js"></script>
    <script src="/pixiControllers/testController.js"></script>
    <body>
      <script type="text/javascript">
        var type = "WebGL"
        if(!PIXI.utils.isWebGLSupported()){
          type = "canvas"
        }
        //Create the renderer
        console.log($(window).width());
        console.log($(window).height());
        console.log($(document).width());
        console.log($(document).height());
        var renderer = PIXI.autoDetectRenderer($(window).width() - 10, $(window).height() - 10);

        //Add the canvas to the HTML document
        document.body.appendChild(renderer.view);

        //Create a container object called the `stage`
        var stage = new PIXI.Container();

        PIXI.loader
          .add("detective.png")
          .load(setup);

        function setup() {
          var sprite = new PIXI.Sprite(
            PIXI.loader.resources["detective.png"].texture
          );
          stage.addChild(sprite)
          renderer.render(stage);
        }

        //Tell the `renderer` to `render` the `stage`

        PIXI.utils.sayHello(type)
      </script>
    </body>
  </html>
